@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

.case2 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
}

#itemsCase2 {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#navCase2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  background-color: rgb(123, 100, 214);
}

#shoppingCartButton {
  width: 3rem;
  height: 3rem;
  background-color: black;
  color: #ffc741;
  outline: 1px solid #ffc741;
  border-radius: 25px;
}
#shoppingCartButton:hover {
  background-color: #ffc741;
  color: black;
}

#divGrid {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#linkBack {
  font-size: 1.8rem;
  color: #ffc741;
}

#linkBackDiv {
  box-sizing: border-box;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  position: relative;
  left: 5rem;
  top: -0.5rem;
  padding-right: 1.5rem;
  border: 1px solid #ffc741;
  background-color: black;
}

#linkBackDiv:hover {
  background-color: #ffc741;
  color: black;
}

#storePage {
  margin-top: 6rem;
}

#h1Case2 {
  color: white;
}

.quantity {
  width: 40%;
  background-color: black;
  color: white;
  height: 2rem;
  border-radius: 25px;
  border: 1px solid teal;
  margin: 2rem 0;
}

.plusMinus {
  width: 2rem;
  background-color: black;
  color: white;
  height: 2rem;
  border-radius: 25px;
  border: 1px solid teal;
  font-size: 1.2rem;
}
.itemRemove {
  width: 6rem;
  background-color: black;
  color: white;
  height: 2rem;
  border-radius: 25px;

  background-color: rgb(123, 100, 214);
  color: black;
  font-size: 1rem;
}

.itemRemove2 {
  width: 2rem;
  background-color: black;
  color: white;
  height: 2rem;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
}
.itemRemove2:hover {
  background-color: rgb(123, 100, 214);
}

.itemP {
  font-size: 1rem;
}

.dFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

#spanCase2 {
  width: 3rem;
  height: 3rem;
  text-align: center;
  color: #ffc741;
  font-size: 1.68rem;

  padding: 0.4rem;
  background-color: black;

  border-radius: 25px;
  outline: 1px solid #ffc741;
}
#cartButtonSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg {
  width: 20px;
  padding-top: 0.3rem;
}

#canvas {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #ffc741;
  width: 412px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  font-size: 2rem;
  text-align: center;
}

#totalPrice {
  color: black;
  margin: 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
}

#canvasButton {
  position: relative;
  left: 10rem;
  top: 3rem;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  color: #ffc741;
  background-color: black;
  font-size: 1rem;
}

#canvasButton:hover {
  background-color: rgb(123, 100, 214);
  color: black;
}

.cartImg {
  min-width: 125px;
  width: 150px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.storeImg {
  margin: 2rem 0;
  transition: all 0.35s ease-in-out;
}

.storeImg:hover {
  transform: scale(2);
  margin-top: 5rem;
}

.cartName,
.cartPrice,
.totalItemCart,
.deleteCart {
  font-size: 1.4rem;
  color: black;
}

.totalItemCart {
  border-bottom: 1px solid rgba(128, 128, 128, 0.185);
}

@media (max-width: 992px) {
  .storeImg:hover {
    scale: 1.01;
    border: 0.1px solid black;
    margin-top: 0.1rem;
  }
  #itemsCase2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  #linkBackDiv {
    left: -2rem;
  }
}
